<div class="sidebar">   
  <div class="logo">
    <a href="#" class="simple-text logo-normal">
      Leave System
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/user']">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/previlage']">
          <i class="material-icons">person</i>
          <p>Previlages</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">
          <i class="material-icons">content_paste</i>
          <p>Admin</p>
        </a>
      </li>
    </ul>

    <div class="alert alert-success notification" id="alert-success">
      <span class="bold-font">Success:</span> All records were processed correctly!
    </div>  

    <div class="alert alert-danger notification" id="alert-danger">
        <span class="bold-font">Error:</span> This record is joining with another table.
      </div>
  </div>
</div>
