<div class="row">
  <div class="col-md-6">
    <div class="card ">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Add Role</h4>
        </div>
        <div class="card-body">
          <form class="container-fluid">
            <div class="form-row ">
              <div class="col-md-12">
              <div class="form-group">
                <label for="inputEmail">Role Name</label>
                <input type="text" class="form-control form-control-sm">
            </div>
            </div>
            </div>
            <div class="col-md-12">
              <div class="float-right">
                <button type="submit" class="btn btn-primary">submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
  <div class="col-md-6">
    <app-view-role></app-view-role>
  </div>
</div>
<app-edit-role></app-edit-role>