
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Available Leave</h4>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-6  col-sm-6">
          <div class="card sub-card">
            <div class="card-header card-header-custom" style="background-color: red">
              <div class="row">
                <div class="remain">2</div>
                <div class="devider">/</div>
                <div class="total">10</div>
              </div>
            </div>
            <div class="card-footer card-footer-custom">
              <span class="float-right">SPECIAL</span>
            </div>
          </div>
        </div>
        <div class="col-md-6  col-sm-6">
          <div class="card sub-card">
            <div class="card-header card-header-custom card-ok" >
              <div class="row">
                    <div class="remain">6</div>
                    <div class="devider">/</div>
                    <div class="total">10</div>
              </div>
            </div>
            <div class="card-footer card-footer-custom">
              <span class="float-right">MEDICAL</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6  col-sm-6">
          <div class="card sub-card">
            <div class="card-header card-header-custom card-warning" >
              <div class="row">
                    <div class="remain">5</div>
                    <div class="devider">/</div>
                    <div class="total">10</div>
              </div>
            </div>
            <div class="card-footer card-footer-custom">
              <span class="float-right">CASUAL</span>
            </div>
          </div>
        </div>
        <div class="col-md-6  col-sm-6">
          <div class="card sub-card">
            <div class="card-header card-header-custom card-danger" >
              <div class="row">
                    <div class="remain">4</div>
                    <div class="devider">/</div>
                    <div class="total">10</div>
              </div>
            </div>
            <div class="card-footer card-footer-custom">
              <span class="float-right">ANNUAL</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
