<div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Request History</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead class="thead-primary">
          <tr>
            <th scope="col">Request id</th>
            <th scope="col">Leave Type</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">No of Days</th>
            <th scope="col">Reason</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
  
            <td>1</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td style="color: green">
              Accepted
            </td>
  
          </tr>
          <tr>
  
            <td>2</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td style="color: red">
              Rejected
            </td>
  
          </tr>
          <tr>
  
            <td>3</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td style="color: red">
              Rejected
            </td>
  
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>
  