<div class="wrapper">
  <app-side-nav></app-side-nav>
  <div class="main-panel">
    <app-top-nav></app-top-nav>
    <div class="content">      
    <!-- <router-outlet></router-outlet>  -->
    <app-view-department></app-view-department>
    <app-login></app-login>
    <app-view-role></app-view-role>
    <app-view-leave-type></app-view-leave-type>
    <app-add-holiday></app-add-holiday>
    <app-edit-holiday></app-edit-holiday>
    <app-view-holiday></app-view-holiday>
    <!-- <app-previlage></app-previlage> -->
    </div>
  </div>

