<div class="wrapper ">
  <app-side-nav></app-side-nav>
  <div class="main-panel">
    <app-top-nav></app-top-nav>
    <div class="content">
      <app-req-leave></app-req-leave>
      <app-user></app-user>
      <app-user-profile></app-user-profile>
      <app-pending-req></app-pending-req>
      <app-req-history></app-req-history>
      <app-remain-leave></app-remain-leave>
      <app-login></app-login>
      <app-leave-history></app-leave-history>
    </div>
  </div>
  <!-- <app-login></app-login> -->