<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Request Leave</h4>
    <!-- <p class="card-category">Complete your request</p> -->
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">Start Date</label>
            <input type="date" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">End Date</label>
            <input type="date" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label class="bmd-label-floating">Leave Type</label>
                <select class="form-control">
                  <option value="" selected default hidden></option>
                  <option></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">No of days</label>
                <input type="number" class="form-control" min="1">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating">Reason</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </div>
      </div>      
      <div class="col-md-12">
        <div class="float-right">
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>