<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Department</h4>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Department Name</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div class="row">
              <div>
                <a href="" data-toggle="modal" data-target="#EditDepartmentModal"> <span class="input-group-addon edit"><i class="fas fa-pen-nib"></i></span></a>
              </div>
              <div>
                <a href=""> <span class="input-group-addon trash"> <i class="fas fa-trash-alt"></i></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div class="row">
              <div>
                <a href=""> <span class="input-group-addon edit"><i class="fas fa-pen-nib"></i></span></a>
              </div>
              <div>
                <a href=""> <span class="input-group-addon trash"> <i class="fas fa-trash-alt"></i></span></a>
              </div>
            </div>
          </td>

        </tr>
        <tr>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>
            <div class="row">
              <div>
                <a href=""> <span class="input-group-addon edit"><i class="fas fa-pen-nib"></i></span></a>
              </div>
              <div>
                <a href=""> <span class="input-group-addon trash"> <i class="fas fa-trash-alt"></i></span></a>
              </div>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
