<div class="card">
  <div class="card-header card-header-primary">
    <div class="row">
      <div class="col-md-6">
        <h4 class="card-title ">Department</h4>
      </div>
      <div class="col-md-6">
        <span class="float-right">
          <Button class="btn btn-primary btn-add" data-toggle="modal" data-target="#AddDepartmentModal"><i class="fas fa-plus plus-btn"></i> Department</Button>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Department Name</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div class="row">
              <div>
                <a href="" data-toggle="modal" data-target="#EditDepartmentModal"> <span class="input-group-addon edit"><i class="fas fa-pen-nib"></i></span></a>
              </div>
              <div>
                <a href=""> <span class="input-group-addon trash"> <i class="fas fa-trash-alt"></i></span></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
